<div class="backchannel" data-time="<%= backchannel.created_at.to_i %>">
<p><%= backchannel.name %> : <%= backchannel.msg %> on <%= backchannel.created_at.strftime('%b %d, %Y at %I:%M %p') %></p>
</div>
