<div class="backchannel" data-time="<%= backchannel.created_at.to_i %>">
  <p><span class="name"><%= backchannel.name %></span> : <%= backchannel.msg %> on <%= backchannel.created_at.strftime('%b %d, %Y at %I:%M %p') %></p>
</div>
